In [30]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, r2_score

In [5]:
df = pd.read_csv('/content/Linear Regression - Sheet1.csv')
df.head(5)

   X         Y
0  1  3.888889
1  2  4.555556
2  3  5.222222
3  4  5.888889
4  5  6.555556

In [6]:
X = df['X']
y = df['Y']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=5)

In [15]:
LR = linear_model.LinearRegression()

In [17]:
LR.fit(X_train.values.reshape(-1,1),y_train.values.reshape(-1,1))

LinearRegression()

In [19]:
X_pred = LR.predict(X_test.values.reshape(-1,1))

In [28]:
LR.score(X_test.values.reshape(-1,1),y_test.values.reshape(-1,1))

0.7535996175256819

In [31]:
r2_score(y_test,X_pred)

0.7535996175256819